[Desktop Entry]
Version=1.0
Type=Application
Name=Gentoo Update (Tray)
Comment=Run Gentoo Update in system tray
Exec=gentoo-update --tray
Icon=system-software-update
Categories=System;Utility;
Terminal=false
MimeType=
StartupNotify=true
Hidden=true
