[Unit]
Description=Gentoo Package Updates Check
Documentation=man:gentoo-update(1)
After=network-online.target
Wants=network-online.target

[Service]
Type=oneshot
ExecStart=/usr/bin/gentoo-update -c
StandardOutput=journal
StandardError=journal
