[Unit]
Description=Gentoo Package Updates Check Timer
Documentation=man:gentoo-update(1)
Requires=gentoo-update.service

[Timer]
OnBootSec=5min
OnUnitActiveSec=1h
Unit=gentoo-update.service

[Install]
WantedBy=timers.target
